<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Coders Adda</title>
    <script src="https://kit.fontawesome.com/8ef24dea6d.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
    <link rel="stylesheet" type="text/css" href="src/css/resources.css">
    <link rel="stylesheet" type="text/css" href="src/css/forum.css">

</head>

<body>


    <nav class="navbar">
        <div class="title">
            <h1>
                <a href="index.html">// THE CODERS ADDA //</a>  
            </h1>

        </div>
        <div class="sign">
            <h2>
                <h2 id="login-button" style="display: none;">
                    Sign In
                </h2>
                <h2 id="logout-button" style="display: none;">Logout</h2>
            </h2>
            <div class="container">
                <div class="profile-section">
                    <a href="profile.html"><img id="profile-picture" src="src/images/profile.jpg" /></a>
                    <div id="profile-name"></div>
                </div>


            </div>

        </div>
    </nav>
    <div id="dash"></div>

    <div id="Sidenav" class="sidenav">
        <span id="nav-button" style="display:block" onclick="openNav()"><i class="fas fa-bars"></i></span>
        <div id="int-sec" style="display:none">
            <span href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times"></i></span>
            <br>
            <br>
            <a href="resources.html"><i class="far fa-hand-point-right"></i> Resources</a><br>
            <a href="forum.html"><i class="far fa-hand-point-right"></i> Doubt</a> <br>
            <a href="team-finder.html"><i class="far fa-hand-point-right"></i> Team Finder</a><br>
            <a href="productifier.html"><i class="far fa-hand-point-right"></i> Productivity &emsp; Tracker</a>
        </div>

    </div>



    <section class="main-page">
        <h1 class="heading">
            Doubt Solving
        </h1>
        <hr>

        <div class="forum">


            <div class="display-thread">
                <input type="text" id="myInput" placeholder="Search by category" onkeyup="myFunction()">



                <div class="int-sec">

                    <ul>
                        <% if(thds.length> 0) { %>
                            <% for (let thread of thds) { %>
                                <div class="toRemove">
                                    <li id="<%= thread._id %>"><a href="/comments/<%= thread._id %>">
                                            <%= thread.title %>
                                        </a></li>
                                         <p style="color: black;">By: <%= thread.author %></p>
                                    <p class="category">
                                        <span class="forSearch">
                                           Category:  <%= thread.category %>
                                        </span>

                                    </p>


                                    <p class="desc">
                                        <%= thread.description %>
                                    </p>



                                </div>
                                <% } %>
                                    <% } else { %>
                                        <li>No thread</li>
                                        <% } %>
                    </ul>

                </div>

            </div>











            <div class="new-thread">

                <h1 class="heading2">
                    Add a New Doubt
                </h1>

                <form action="/addThread" method="POST">
                    <input type="hidden" name="author" id="defaultValue" placeholder="author" value="">
                   
                    <input type="text" name="title" id="title" placeholder="Doubt Heading"><br>
                    
                    <textarea name="description" id="description" cols="30" rows="5" placeholder="Description"></textarea><br>
                   
                    <input type="text" name="category" id="category" placeholder="Domain or category"><br>
                    <button type="submit">Submit</button>
                </form>

            </div>


        </div>











    </section>







    <script src="src/js/openclose.js">

    </script>


    
    <script>
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            toRem = document.querySelectorAll(".toRemove");
            filter = input.value.toUpperCase();
            li = document.querySelectorAll(".forSearch");
            for (i = 0; i < li.length; i++) {
                a = li[i];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    toRem[i].style.display = "";
                } else {
                    toRem[i].style.display = "none";
                }
            }
        }
        

    </script>
    <script type="module" src="/index.js"></script>
</body>





</html>